# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE config files
.vscode/
.idea/

# log files
log/*
!log/log_template.html
!log/teport_template.html

# testbed files
testbed/
!testbed/testbed_template.xml

# testset files
testset/
!testset/testset_template.xml