# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/

# IDE config files
.vscode/*
.idea/*

# setuptools
build/
*.egg-info/

# build
dist/
build.log

# venv
venv/

# testproj
testproj/

# MacOS
.DS_Store
