# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE config files
.vscode/
.idea/

# log files
log/*
!log/log_template.html
!log/report_template.html

# testbed files
testbed/*
!testbed/testbed_template.xml
!testbed/testbed_example.xml
!testbed/testbed_example.xsd

# testset files
testset/*
!testset/testset_template.xml
!testset/testset_example.xml